body,
html {
    width: 100%;
}

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #d8eaee !important;
}

header {
    width: 100%;
}

#header-login {
    position: absolute;
}

header img {
    padding: 10px;
    border-radius: 50px;
    transition: 0.5s;
}

header img:hover {
    background-color: #54555525;
}

.hr {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

#floatingName {
    width: 219px !important;
    height: 42.263px !important;
}

.btn {
    background: #81d1db !important;
    padding: 10px 50px !important;
    flex-shrink: 0;
    color: black !important;
    font-weight: 700 !important;
    text-align: center;
    transition: 0.5s !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn:hover {
    background: #008489 !important;
    color: white !important;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #33333331;
    color: black;
    text-align: center;
    padding: 10px;
}

/*.bg-img-login {
    background: url("../img/img_11.png") no-repeat center left fixed;
    background-size: 50% 100%; 
    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    -o-background-size: 50% 100%;
    background-color: #d8eaee;
    height: 100vh;
}*/

/*.bg-img-cadastro {
    background: url("../img/img_12.png") no-repeat center right fixed;
    background-size: 50% 100%; 
    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    -o-background-size: 50% 100%;
    background-color: #d8eaee;
    height: 100vh;
}*/

.container-cadastro {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    flex-direction: column-reverse;
    overflow: hidden;
}

.container-login {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    flex-direction: column;
    overflow: hidden;
}

.conta {
    color: black;
    text-decoration: none;
    transition: 0.5s;
    padding-top: 10px !important;
}

.conta:hover {
    color: #81d1db;
}

.card-title {
    font-weight: 700;
}

.btn-login {
    margin-top: 20px !important;
    margin-bottom: 5px !important;
}

.left-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login {
    margin-right: 50px;
}

.card-cadastro {
    margin-left: 160px;
}

@media (min-width: 1444px) {
    .img img {
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .container-cadastro {
        flex-direction: row-reverse;
        gap: 160px;
    }

    .container-login {
        flex-direction: row;
        gap: 50px;
    }

    .card {
        position: absolute;
        width: 264px;
    }

    .hr {
        display: none;
    }

    header img {
        position: absolute;
    }
}

@media (min-width: 720px) and (max-width: 1000px) {
    .img img {
        width: 1500px;
    }
}
